<div class="container-fluid p-4 bg-img">
    <a class="navbar-brand">
        <img src="/images/logo.png" alt="Logo">
        Mindoro State University - Research Portal
    </a>
    <nav class="navbar navbar-expand-md navbar-light bg-light rounded shadow mt-1">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <!-- Home Section -->
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <!-- Research Section -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="researchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Research
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="researchDropdown">
                            <li><a class="dropdown-item" href="/view-research">View Research Papers</a></li>
                            <li><a class="dropdown-item" href="#">Research Topics</a></li>
                            <li><a class="dropdown-item" href="#">Latest Publications</a></li>
                        </ul>
                    </li>

                    <!-- Researchers Section -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="researchersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Researchers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="researchersDropdown">
                            <li><a class="dropdown-item" href="/reseacher-profiles">Researcher Profiles</a></li>
                            <li><a class="dropdown-item" href="#">Top Contributors</a></li>
                            <li><a class="dropdown-item" href="#">Research Groups</a></li>
                        </ul>
                    </li>

                    <!-- About Section -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    <!-- Contact Section -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                    <!-- Login Section -->
                    <li class="nav-item ms-auto">
                        <a class="nav-link btn " href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>