<%- include('partials/links') %>
<%- include('partials/admin/sidebar') %>
<div class="content">
    <div class="header">
        <div class="header-logo">
            <img src="/images/logo.png" alt="Logo"> Research Office System
        </div>
        <div class="header-links">
            <a href="#" class="text-white me-3">Admin Profile</a>
            <a href="/admin/logout" class="text-white">Logout</a>
        </div>
    </div>
    <%- include(content) %>
</div>