<div class="container-fluid p-4 bg-img">
    <a class="navbar-brand">
        <img src="/images/logo.png" alt="Logo">
        Mindoro State University - Research Portal
    </a>
    <nav class="navbar navbar-expand-md navbar-light bg-light rounded shadow mt-1">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Home/Dashboard Section -->
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <!-- Paper Submissions Section -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="submissionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Submissions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="submissionDropdown">
                            <li><a class="dropdown-item" href="/submitNewPaper">Submit New Paper</a></li>
                            <li><a class="dropdown-item" href="#">My Submissions</a></li>
                            <li><a class="dropdown-item" href="#">Track Submission Status</a></li>
                        </ul>
                    </li>

                    <!-- Collaboration Section -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="collaborationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Collaboration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="collaborationDropdown">
                            <li><a class="dropdown-item" href="#">Manage Co-authors</a></li>
                            <li><a class="dropdown-item" href="#">Version Control</a></li>
                            <li><a class="dropdown-item" href="#">Shared Files</a></li>
                        </ul>
                    </li>

                    <!-- Publication History Section -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Publication History</a>
                    </li>

                    <!-- Data Management Section -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dataManagementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Data Management
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dataManagementDropdown">
                            <li><a class="dropdown-item" href="#">Organize Data</a></li>
                            <li><a class="dropdown-item" href="#">Upload Research Data</a></li>
                            <li><a class="dropdown-item" href="#">Manage Compliance</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="/my-account">My Account</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>